 /* Color Variables */

$white: 			#ffffff;

$black: 			#1a1a1a;
$black-alt: 		#333333;
$black-div:			#151515;

$blue_sky:			#16b0ff;
$blue_fb:			#7e8ebc;

$red:				#a81a1a;
$maroon:			#990000;

$gray:				#e5e5e5;
$gray-txt:			#767676;
$gray-lte:			#e8e8e8;
$gray-lte-txt:		rgba(114,114,114,.7);
$gray-drk-txt:		#8d8d8d;
$gray-bg:			#f2f2f2;
$gray-div:			#c2c2c2;

$grey-alt-lte:		#b2b2b2;

$darkbg:			#2f2e2e;



// GENERAL Breakpoint Variables

// IN general, these are the main breakpoints. But, there are a few custom ones throughout when needed.

// Going Up -->
// Min Widths

$medium:  	640px; // min-width
$large:   	1200px; // min-width this is our main breakpont when large kicks in, but we need to account for an extra 140 pixels on left/right for the controls

$header:	1340px; // header trigger bring back those extra 140 pixels.


$headFull: 	900px; // min-width


/* Font Sizes */
// Not really using these at all.

$base: 16px;
$base-sm: $base/2;
$base-med: $base * 2;
$base-lg: $base * 3;
$base-xl: $base * 4;
$base-xxl: $base * 5;

$base-font-size: 16px;
$base-font-rem: 1.6rem;
$base-line-height: $base-med;


/* font familes */
$quadrat:	"FFQuadraatWeb", Times, "Times New Roman", serif;
$graphik:	"GraphikWeb", "Helvetica Neue", Helvetica, Arial, sans-serif;
$compass:	"CompassStA", 'Courier New', Courier, monospace;


$adelle: "adelle", Georgia, Arial, sans-serif;
$tabletgothic: "tablet-gothic", Arial, sans-serif;
$tabletgothiccomp: "tablet-gothic-compressed", Arial, sans-serif; 


/* Base Fonts */
$headline-text: Verdana, sans-serif;

/* Site Specific General Styles */


body { 
   	color: #595959;
	font-family: $quadrat;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: 400;
	font-style: normal;
	
	@media screen and (min-width: $large) {
		font-size: 22px;
	} 	
}

b, strong{
	font-weight: 700;
}

i, em {
	font-style: italic;
}

p {
	line-height: 1.5em;
	margin-bottom: 1em;
	
	@media screen and (min-width: $medium) {

	}
}

ul {    
  line-height: 1.7em;
  margin-left: 1em;
  
  li {
	 margin:auto;
	 margin-bottom: 1em;
  }    
}


ol {    
  line-height: 1.7em;
  margin-left: 1em;
  
  li {
	 margin-bottom: 1em; 
  }    
}

dl {
	line-height: 1.7em;
}

a {
	color: $black;
	text-decoration: none;
	@extend %transition;
	
	&:hover,
	&:focus {
		
	}
}


h1, .heading1 {
  font-size: 18px;
  color: $black;
  font-family: $graphik;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 1em;
  letter-spacing: -1px;
  
	@media screen and (min-width: $medium) {
		//font-size: 35px;
	}
	
	@media screen and (min-width: $large) {
		font-size: 70px;
		letter-spacing: -3px;
	}  
}

h2, .heading2 {
  font-size: 13px;
  color: $black;
  font-family: $graphik;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 1em;
  letter-spacing: -1px;
  
	@media screen and (min-width: $medium) {
		//font-size: 25px;
	}
	
	@media screen and (min-width: $large) {
		font-size: 50px;
		letter-spacing: -1px;
	}  
}



h3, .heading3 {
  font-size: 13px;
  color: $black;
  font-family: $graphik;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 1em;
  letter-spacing: -1px;
  
	@media screen and (min-width: $medium) {
		//font-size: 25px;
	}
	
	@media screen and (min-width: $large) {
		font-size: 50px;
		letter-spacing: -3px;
	}  
}

h4, .heading4 {
  font-size: 25px;
  color: $black;
  font-family: $graphik;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 1em;
  letter-spacing: -1px;
  
	@media screen and (min-width: $medium) {
		//font-size: 25px;
	}
	
	@media screen and (min-width: $large) {
		font-size: 50px;
		letter-spacing: -3px;
	}  
}

h5, .heading5 {
  font-size: 13px;
  color: $black;
  font-family: $graphik;
  font-weight: 600;
  margin: 1em 0 .75em; 
  line-height: 1.1em;  
  letter-spacing: -1px;
  
	@media screen and (min-width: $medium) {
		//font-size: 20px;
	}
	
	@media screen and (min-width: $large) {
		font-size: 16px;
	}    
}

h6, .heading6 {
  font-size: 10px;
  color: $gray-lte-txt;
  font-family: $graphik;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 1em 0 2em; 
  line-height: 1em; 
  
  	@media screen and (min-width: $medium) {
		//font-size: 20px;
	}
	
	@media screen and (min-width: $large) {
		font-size: 12px;
	}   
}


blockquote {
	
}


img[align="right"],
img.right {    
  float: right;
  margin: 10px 0 20px 30px;  
  
  @media screen and (max-width: $medium) {
    float: none;
    margin: 20px auto;      
  } 
}

img[align="left"],  
img.left {    
  float: left;
  margin: 10px 30px 20px 0;  
  
  @media screen and (max-width: $medium) {
    float: none;
    margin: 20px auto;      
  }   
}


/// Hiding Stuff at Breakpoints

.hide-small {	
	@media screen and (max-width: $medium) {
	    display: none;     
  	}	
}

.hide-medium {	
	@media screen and (min-width: $medium) and (max-width: $large) {
	    display: none;     
  	}
}

.hide-large {	
	@media screen and (min-width: $large) {
	    display: none;     
  	}	
}

// Line Break

.break-small {	
	@media screen and (max-width: $medium) {
	    display: block;     
  	}	
}

.break-medium {	
	@media screen and (max-width: $large) {
	    display: block;       
  	}
}



table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	padding:0;
	margin:0;
	
	th {
		text-align: left;
	}
}



svg {	
	path {		
		@extend %transition;
	}
}


// Opacity Controls

.op0 {
	opacity: 1;
}

.op1 {
	opacity: .1;
}

.op2 {
	opacity: .2;
}

.op3 {
	opacity: .3;
}

.op4 {
	opacity: .4;
}

.op5 {
	opacity: .5;
}

.op6 {
	opacity: .6;
}

.op7 {
	opacity: .7;
}

.op8 {
	opacity: .8;
}

.op9 {
	opacity: .9;
}

.op10 {
	opacity: 0;
}